[submodule "thirdparty/implot"]
	path = thirdparty/implot
	url = https://github.com/epezent/implot.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
